*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    line-height: 1.2;
}

a{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}

img{
    vertical-align: top;
}

h1, h2{
    font-weight: inherit;
    font-size: inherit;
}

html{
    height: 100%;
    color: white;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: white;
    font-family: 'Roboto';
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 1440px;
    margin: 0 auto;
    box-sizing: content-box;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: content-box;
}


/*---------header---------------*/
.header{
    width: 100%;
    min-height: 114px;
}

.header__get-house{
    width: 100%;
    min-height: 40px;
    background-color: #939878;
}

.get-house__block{
    display: flex;

}

.get-house__text{
    font-size: 14px;
    font-weight: 400;
    max-width: 217px;
    margin: 10px 572px 9px 589px;
}

.get-house__svg{
    margin: 13px 49px 13px 0;
    max-height: 14px;
}

.get-house__img{
    max-width: 14px;
    max-height: 14px;
}

/*---------------------*/
.header__head{
    margin: 0 80px;
    display: flex;
    max-height: 74px;
}

.head__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head__logo-img{
    margin: 21px 9px 21px;
}

.head__list{
    display: flex;
    flex-wrap: wrap;
    margin: 16px 8px 16px 401px;
    min-height: 74px;

}

.head__link{
    color: #2A2C1F;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
}

.head__link:hover{
    color: #CF6F49;
    cursor: pointer;
}

.head__item{
    margin: 9px 16px;
}

.head__item-2{
    margin: 9px 0 9px 16px;
}

.properties__img{
    margin: 7px 16px 5px 4px;
}

.head__item-5{
    margin: 9px 16px;
}

.search__img{
    margin: 3px 0 0 0;
    height: 15px;
}

.head__buttons{
    margin: 16px 0 0 4px;
}

.button-cart{
    min-height: 42px;
    min-width: 100px;
    padding: 9px 21px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #E7E8E3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    font-size: 16px;
    transition: 0.3s;
}

.button-cart:hover{
    box-shadow: 0 0 4px #CF6F49;
    cursor: pointer;
}

.cart__img{
    margin: 0 4px 0 0;
}

.button-property{
    font-size: 16px;
    color: white;
    background-color: #CF6F49;
    border: 1px solid #CF6F49;
    border-radius: 6px;
    padding: 9px 21px;
    margin: 0 0 0 16px;
    min-height: 42px;
    min-width: 159px;
    transition: 0.3s;
}

.button-property:hover{
    box-shadow: 0 0 4px dimgray;
    cursor: pointer;
}

/*-----------page--------*/
.page{
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    flex-direction: column;
}

.page__title{
    color: #2A2C1F;
    font-size: 48px;
    font-weight: 700;
}

.text{
    color: #65665C;
    font-size: 20px;
    line-height: 150%;
}


.info{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E8E3;
    border-radius: 32px;
}

/*-----------main-------------*/

.main{
    max-width: 1440px;
    display: flex;
    background-color: #F5F5F5;
}

.main__decoration{
    position: absolute;
    z-index: 50;
}

.decoration__item-2{
    position: absolute;
    top: 551px;
    left: 585px;
}

.main__find{
    display: flex;
    flex-direction: column;
    max-height: 367px;
    max-width: 560px;
    margin: 160px 80px;
    position: relative;
}

.main__bg{
    min-width: 720px;
    min-height: 686px;
    background-image: url("img/main/main-bg.jpg");
    background-repeat: no-repeat;
}

.find__title{
    color: #2A2C1F;
    font-size: 56px;
    line-height: 120%;
    margin: 0 0 21px 0;
}

.find__info{
    min-height: 29px;
    max-width: 171px;
    margin: 0 0 20px 0;
}

.info__text{
    color: #2A2C1F;
    font-size: 14px;
}

.find__text-block{
    max-width: 503px;
    max-height: 90px;
    margin: 0 0 21px 0;
}

.find__text{
}

.find__search-block{
    display: flex;
}

.find__search{
    display: flex;
    align-items: center;
    min-height: 48px;
    min-width: 310px;
    background-color: white;
    border: 1px solid #E7E8E3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    color: #65665C;
    font-size: 20px;
    padding: 0 0 0 16px;
}

.search__text{
    color: #65665C;
    font-size: 20px;
}

.find__img{
    width: 20px;
    margin: 12px 16px;
}

.find-button{
    font-size: 20px;
}

/*----------media----------------*/
.media{
    display: flex;
    flex-direction: column;
}

.media__block{
    display: flex;
    flex-wrap: wrap;
    margin: 0 80px;
    align-items: center;
}

.media__info{
    max-width: 243px;
    margin: 67px 309px 0 0;
}

.media__text{
    color: #2A2C1F;
    font-size: 18px;
    line-height: 150%;
}

.media__list{
    display: flex;
    flex-wrap: wrap;
    max-width: 728px;
    margin: 64px 0 0 0;
}

.media__item:not(:last-child){
    margin: 0 32px 0 0;
}

/*--------------howitworks-------------*/
.howitworks{
    display: flex;
    flex-direction: column;
}

.howitworks__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 128px 80px 0;
}

.howitworks__info-text{
    margin: 21px 0 61px 0;
    max-width: 754px;
    text-align: center;
}

.howitworks__steps{
    display: flex;

}

.step{
    display: flex;
    flex-direction: column;
    max-width: 460px;
    max-height: 291px;
    border: 1px solid #E7E8E3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    justify-content: center;
    align-items: center;

}

.step:not(:last-child){
    margin: 0 32px 0 0;
}

.step__title{
    color: #2A2C1F;
    font-weight: 700;
    font-size: 24px;
}

.step__text{
    font-size: 16px;
    line-height: 150%;
    weight: 400;
}

.step-1__text{
    padding: 17px 33px 47px 34px;
    text-align: center;
}

.step-2__text{
    padding: 17px 42px 47px 43px;
    text-align: center;
}

.step-3__text{
    padding: 17px 50px 47px 50px;
    text-align: center;
}

.step__logo{
    margin: 49px 178px 24px 179px;
    width: 48px;
    height: 48px;
}

/*----------comfort---------*/
.comfort{
    display: flex;
    flex-direction: column;
}

.comfort__block{
    display: flex;
    margin: 128px 80px 0;
}

.comfort__block-left{
    display: flex;
    flex-direction: column;
    margin: 140px 80px 140px 0;
    min-width: 600px;
    max-height: 318px;
}

.block-left__info{
    padding: 4px 12px;
    max-width: 107px;
    min-height: 29px;
    margin: 0 0 20px 0;
}

.block-left__info-text{
    color: #2A2C1F;
    font-size: 14px;
}

.block-left__title{
    margin: 0 0 28px 0;
    max-width: 453px;
}

.block-left__text{
    margin: 0 0 21px 0;
    font-size: 18px;
    line-height: 150%;
    max-width: 520px;
}

.block-left__buttons{
    display: flex;
    min-height: 50px;
    max-width: 600px;
}

.button-properties{
    background-color: white;
    min-width: 192px;
    min-height: 50px;
    border: 1px solid #E7E8E3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    font-size: 16px;
    color: #2A2C1F;
    margin: 0 24px 0 0;
    transition: 0.3s;
}

.button-properties:hover{
    box-shadow: 0 0 4px #CF6F49;
    cursor: pointer;
}

.button-contact{
    min-width: 130px;
    max-height: 40px;
    font-size: 16px;
    line-height: 150%;
    color: #2A2C1F;
    margin: 5px 0 0 0;
    background: none;
    transition: 0.3s;
}

.button-contact:hover{
    text-decoration: underline 2px;
    cursor: pointer;
}

.contact-agent__img{
    margin: 9px 0 8px 4px;
}

.block-right__img{
    max-width: 600px;
    max-height: 600px;
}

/*----------fast-----------*/
.fast{
    display: flex;
    flex-direction: column;
}

.fast__block{
    display: flex;
    margin: 128px 80px 0;
}

.fast__img{
    max-width: 600px;
    max-height: 600px;
}

.fast__block-right{
    max-width: 600px;
    max-height: 490px;
    margin: 56px 0 56px 80px;
}

.fast__info-text{
    color: #2A2C1F;
    font-size: 14px;
}

.fast__info{
    max-width: 127px;
    min-height: 29px;
    padding: 4px 12px;
    margin: 0 0 25px 0;
}

.fast__text{
    font-size: 18px;
    line-height: 150%;
    max-width: 600px;
    margin: 29px 0;
}

.fast__block-pluses{
    display: flex;
    margin: 0 0 32px 0;
}

.pluse__title{
    color: #2A2C1F;
    font-size: 20px;
    font-weight: 700;
    margin: 16px 0 18px 0;
}

.pluses__block-1{
    margin: 0 67px 0 0;
}

.pluses-1__text{
    font-size: 16px;
    line-height: 150%;

}

.pluses-2__text{
    min-width: 281px;
    font-size: 16px;
    line-height: 150%;
}

/*---------------properties------------*/
.properties{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    margin: 128px 0 0 0;
    max-height: 1559px;
}

.properties__block{
    display: flex;
    flex-direction: column;
    padding: 128px 80px 160px 80px;
    align-items: center;
}

.properties__info{
    padding: 4px 12px;
    max-width: 92px;
    max-height: 29px;
    margin: 0 0 21px 0;
}

.properies__title{
    margin: 0 0 82px 0;
}

.properties__info-text{
    font-size: 14px;
    color: #2A2C1F;
}

.properties__decoration{
    position: absolute;
    z-index: 50;
}

.decoration__img-1{
    position: absolute;
    left: 585px;
    top: -128px;
}

.decoration__img-2{
    position: absolute;
    left: -720px;
    top: 1294px;
}

.properties__houses{
    display: flex;
    max-width: 1280px;
    flex-wrap: wrap;
}

.house-block{
    display: flex;
    flex-direction: column;
    color: #2A2C1F;
    max-height: 446px;
    max-width: 405px;
    transition: 0.3s;
}

.house-block:hover{
    box-shadow: 0 0 5px dimgray;
    cursor: pointer;
}

.houses__block-1{
    margin: 0 32px 31px 0;
}

.houses__block-2{
    margin: 0 33px 31px 0;
}

.houses__block-4{
    margin: 0 32px 31px 0;
}

.houses__block-5{
    margin: 0 33px 31px 0;
}

.house__block{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 23px 69px 24px 24px;
    max-height: 192px;
    max-width: 405px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 12px 12px;
}

.houses__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    margin: 0 0 3px 0;
}

.houses__price{
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.houses__location{
    display: flex;
    margin: 0 0 16px 0;
}

.houses__info{
    display: flex;
    color: #65665C;
}

.location{
    color: #65665C;
    font-size: 16px;
    margin: 0 0 0 10px;
}

.info__house-text:not(:last-child){
    margin: 0 24px 0 0px;
}

.house__svg{
    margin: 0 10px 0 0;
}

.houses__buttons{
    margin: 80px 0 0 0;
}

/*----------locations-------------*/

.locations{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

.locations__block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locations__title{
    font-size: 48px;
    margin: 0 0 25px 0;
}

.locations__text{
    font-size: 18px;
    line-height: 150%;
    max-width: 713px;
    text-align: center;
    margin: 0 0 73px 0;
}

.locations__blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.location__block{
    background-color: white;
    width: 416px;
    height: 130px;
    border: 1px solid #E7E8E3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    transition: 0.3s;
}

.location__block:hover{
    box-shadow: 0 0 5px dimgray;
    cursor: pointer;
}

.location__block:not(:nth-child(3)){
    margin: 0 16px 16px 0;
}


.location__block:not(:nth-child(6)){
    margin: 0 16px 16px 0;
}

.location__block:nth-child(1){
    padding: 33px 208px 33px 33px;
}

.location__block:nth-child(2){
    padding: 33px 228px 33px 33px;
}

.location__block:nth-child(3),
.location__block:nth-child(4),
.location__block:nth-child(5),
.location__block:nth-child(6){
    padding: 33px 242px 33px 33px;
}

.location__block-title{
    color: #2A2C1F;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 12px 0;
}

.location__block-text{
    color: #2A2C1F;
    font-size: 16px;
}

.location__block-info{
    display: flex;
}

.location__text-svg{
    margin: 2px 0 0 15px;
}

.locations__buttons{
    margin: 80px 0 128px 0;
}


/*--------families-------------*/
.families{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #F5F5F5 50%, white 50%);
}

.families__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #65665C;
    border-radius: 24px;
    min-height: 465px;
    min-width: 1280px;
}

.families__img{
    margin: 96px 0 13px 0;
}

.families__title{
    color: white;
    margin: 0 0 29px 0;
}

.families__text{
    max-width: 765px;
    font-size: 18px;
    line-height: 150%;
    margin: 0 0 21px 0;
    text-align: center;
}

.families__button{
    min-height: 50px;
    min-width: 137px;
    background: #CF6F49;
    border: 1px solid #CF6F49;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    margin: 0 0 95px 0;
    transition: 0.3s;
}

.families__button:hover{
    box-shadow: 0 0 4px ghostwhite;
    cursor: pointer;
}


/*------------customer-------*/
.customers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customers__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 160px 0 0 0;
}

.customers__title{
    margin: 0 0 26px 0;
}

.customers__text{
    font-size: 18px;
    margin: 0 0 80px 0;
}

.customers__reviews-block{
    display: flex;
    margin: 0 0 160px 0;
}

.reviews__block{
    display: flex;
    flex-direction: column;
    max-width: 405px;
    min-height: 325px;
    border: 1px solid #E7E8E3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 32px 33px 0 33px;
}

.reviews__block:not(:last-child){
    margin: 0 32px 0 0;

}

.reviews__text{
    font-size: 18px;
    color: #2A2C1F;
    line-height: 150%;
}

.reviews__text-1{
    max-width: 339px;
}

.reviews__text-2{
    max-width: 314px;
}

.reviews__text-3{
    max-width: 325px;
}

.reviews-svg{
    margin: 0 0 27px 0;
}

.reviews__customer{
    display: flex;
    margin: 29px 0 0 0;
}

.customer__name{
    color: #2A2C1F;
    font-weight: 700;
    font-size: 16px;
    margin: 0 0 8px 0;
}

.customer__info{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 16px;
}

.customer__customer{
    color: #65665C;
    font-size: 16px;
}


/*------------posts----------------*/
.posts{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

.posts__block{
    display: flex;
    flex-direction: column;
    margin: 128px 80px;
    align-items: flex-start;
}

.posts__info{
    max-width: 53px;
    max-height: 29px;
    padding: 4px 12px;
    margin: 0 0 25px 0;
}

.posts__info-text{
    color: #2A2C1F;
}

.posts__title{
    margin: 0 0 29px 0;
}

.posts__text-block{
    display: flex;
    margin: 0 0 77px 0;
}

.posts__button{
    background-color: white;
    border: 1px solid #E7E8E3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    min-width: 108px;
    max-height: 50px;
    padding: 13px 25px;
    color: #2A2C1F;
    font-size: 16px;
    transition: 0.3s;
}

.posts__button:hover{
    box-shadow: 0 0 4px #CF6F49;
    cursor: pointer;
}


.posts__text{
    font-size: 18px;
    line-height: 150%;
    max-width: 710px;
    margin: 0 462px 0 0;
}

.posts__blog{
    display: flex;
}

.blog__block{
    display: flex;
    flex-direction: column;
    max-width: 405px;
    max-height: 531px;

}

.blog__block:not(:last-child){
    margin: 0 35px 0 0;
}

.blog-block{
    background-color: white;
    padding: 24px;
    border: 1px solid #E7E8E3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 16px 16px;
    min-height: 263px;

}

.blog__info{
    display: flex;
    margin: 0 0 16px 0;
}

.blog__tag{
    display: flex;
    background: #FAE8E1;
    border-radius: 32px;
    padding: 5px 8px;
    color: #2A2C1F;
    font-size: 14px;
    min-height: 29px;
    justify-content: center;
    align-items: center;
}

.blog__tag-1{
    max-width: 62px;
}

.blog__tag-2{
    max-width: 40px;
}

.blog__data{
    color: #65665C;
    font-size: 14px;
    margin: 6px 0 4px 16px;
}

.blog__title{
    color: #2A2C1F;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 9px 0;
}

.blog__text{
    font-size: 16px;
    line-height: 150%;
}

.blog__read-more-1,
.blog__read-more-3{
    background: none;
    color: #2A2C1F;
    font-weight: 700;
    font-size: 16px;
    margin: 53px 0 24px 0;
    transition: 0.3s;
}

.blog__read-more-2{
    background: none;
    color: #2A2C1F;
    font-weight: 700;
    font-size: 16px;
    margin: 24px 0;
    transition: 0.3s;
}

.blog__read-more-1:hover,
.blog__read-more-2:hover,
.blog__read-more-3:hover{
    text-decoration: underline 2px;
    cursor: pointer;
}

.read-more__svg{
    margin: 7px 0 0 0;
}


/*----------footer----------*/
.footer{

}

.footer__block{
    margin: 64px 80px 0 80px;
    display: flex;
    align-items: flex-start;
}

.footer__logo{
    display: flex;
    margin: 0 63px 0 0;
}

.footer__title{
    margin: 9px 0 9px 9px;
}

.footer__list{
    min-width: 168px;
    margin: 0 0 72px 32px;
}

.list__item-title{
    font-size: 16px;
    color: #2A2C1F;
    margin: 0 0 16px 0;
}

.list__item{
    color: #2A2C1F;
    font-size: 14px;
    margin: 0 0 16px 0;
    transition: 0.3s;
}

.list__item:hover{
    text-decoration: underline;
    cursor: pointer;
}


.footer__subscribe{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 135px;
}

.subscribe__title{
    color: #2A2C1F;
    font-size: 16px;
    margin: 0 0 10px 0;
}

.subscribe__text{
    color: #65665C;
    font-size: 16px;
    line-height: 150%;
    margin: 0 0 14px 0;
    max-width: 384px;
}

.subscribe__block{
    display: flex;
    flex-direction: column;
}

.subscribe__block-input{
    display: flex;
    margin: 0 0 16px 0;
}

.input{
    display: flex;
    align-items: center;
    max-width: 245px;
    min-height: 48px;
    border: 1px solid #E7E8E3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    color: #65665C;
    font-size: 16px;
    padding: 12px 112px 12px 14px;
    margin: 0 10px 0 0;
}

.subscribe__button{
    font-size: 16px;
    color: white;
    background: #CF6F49;
    border: 1px solid #CF6F49;
    border-radius: 6px;
    min-width: 127px;
    min-height: 50px;
    transition: 0.3s;
}

.subscribe__button:hover{
    box-shadow: 0 0 4px dimgray;
    cursor: pointer;
}

.subscribe__info-privacy{
    color: #65665C;
    font-size: 12px;
}

.privacy-link{
    color: #65665C;
    font-size: 12px;
}

/*--------------*/
.footer__info{
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    padding: 24px 144px;
}

.footer__info-author{
    color: #65665C;
    font-size: 14px;
    margin: 0 834px 0 0;
    min-width: 186px;
}

.footer__social-list{
    display: flex;
}

.footer__social-logo{
    width: 24px;
    height: 24px;
    margin: 0 12px 0 0;
}

.footer__social-logo:not(:last-child){
    margin: 0 12px 0 0;
}